black==18.9b0
bump2version==0.5.11
{% if cookiecutter.use_hypothesis == 'y' -%}
hypothesis>=4.4.3{% endif %}
mypy==0.660
pip==19.2.3
pre-commit==2.3.0
pytest==5.2.0
pytest-cov==2.5.1
pytest-mypy==0.3.2
pytest-runner==5.1
Sphinx==1.8.5